.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.blog-post {
	background-color: #f5f5f5;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	padding: 20px;
	margin: 10px;
	flex: 1 0 300px;
}

.categories {
	margin-bottom: 10px;
}

.category {
	background-color: #4CAF50;
	color: white;
	padding: 5px 10px;
	border-radius: 20px;
	margin-right: 5px;
	font-size: 12px;
	text-transform: uppercase;
}

.title {
	margin: 0 0 10px;
	font-size: 24px;
	font-weight: bold;
}

.image {
	margin-bottom: 10px;
	overflow: hidden;
	border-radius: 5px;
}

.image img {
	width: 100%;
	height: auto;
	transition: transform .3s ease-in-out;
}

.image img:hover {
	transform: scale(1.1);
}

.description {
	margin-bottom: 10px;
}

.post-info {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.date {
	font-size: 12px;
	color: #666;
}

.read-more {
	background-color: #4CAF50;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 20px;
	font-size: 14px;
	cursor: pointer;
	transition: background-color .3s ease-in-out;
}

.read-more:hover {
	background-color: #3e8e41;
}
/* *{
    background-color:antiquewhite;
        margin:0;
        border:purple;
        font-size: 25px;
}
.container1{
    border: 5px;

}
h1{
    position: sticky;
    top:0;
    display: flex;
    height: 40px;

}
.nav-content{
    position: sticky;
    top:0;
    display: flex;
    height: 50px;
}
.nav-content li{
    display: flex; 
    list-style: none;
    justify-content: space-evenly;
    color: black;
}
.nav-content {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    align-items: center;
    line-height: 80px;
}

.nav-content li a{
    color: black;
    text-decoration: none;
}
ul li:hover{
    
    background-color: rgb(180, 26, 123);
    
}

     
 */