* {
    box-sizing: border-box;
    background-color: transparent;
    padding: 0px;
    margin: 0px;
}

body {
    padding: 0%;
    margin: 0%;
    background: #eddfd8;
     font-family: "Irish Grover", system-ui;
}


header {
    background-color: #E7E7E7;
    height: 65px;
}

header * {
    color: plum;

}

header .logo {
    float: left;
    height: inherit;

}

/* header ul nav{
    display: flex;
    position: sticky;
    top: 0;

} */
header .logo-text {
    margin: 9px;
    font-family: "Irish Grover", system-ui;

}

header .menu-toggle {
    display: none;
    cursor: pointer;


}

header .logo-text span {
    color: rgb(118, 9, 118);
}

header ul {
    float: right;
    margin: 0px;
    padding: 0px;
    list-style: none;


}

header ul li {
    float: left;
    position: relative;



}

header ul li a {
    display: block;
    padding: 22px;
    font-size: 1.1em;
    text-decoration: none;
}

header ul li a:hover {
    background-color: rgb(223, 227, 164);
    transition: 0.6s;
}

header ul li ul {
    position: absolute;
    top: 64px;
    right: 0px;
    width: 122px;
    display: none;
}

header ul li:hover ul {
    display: block;

}

header ul li ul li {
    width: 100%;

}

header ul li ul li a:hover {
    background: rgb(210, 208, 208);
}

header ul li ul li a {
    padding: 10px;
    color: peru;
    background: white;

}

header ul li ul li a.logout {
    color: orangered;
}


header ul li a {
    background-color: rgb(231, 231, 231);

}


header.menu-toggle {
    display: none;
}



/* media */
@media only screen and (max-width:600px) {
    header {
        position: relative;
    }

    header ul {
        width: 100%;
        background: peru;
        max-height: 0px;
        overflow: hidden;

    }

    .showing {
        max-height: 100em;

    }

    header ul li {
        width: 100%;

    }

    header ul li ul {
        position: static;
        width: 100%;
        display: block;
        /* background-color: inherit; */
    }

    header ul li ul li a {
        padding: 10px;
        color: peru;
        background: white;
        padding-left: 50px;

    }

    header ul li ul li a {
        background-color: #E7E7E7;
    }

    header ul li ul li a.logout {
        color: orangered;

    }

    header .menu-toggle {
        display: block;
        position: absolute;
        right: 20px;
        top: 10px;
        font-size: 1.8em;
    }

    header .logo {
        margin-left: .8em;

    }


}

.image-container {
    display: flex;
    align-items: center;
}

.image-container img {
    height: 700px;
    /* Maintain aspect ratio */
    width: 800px;
    margin-right: 10px;
    /* Margin to separate image from description */
    padding: 20px;
}

.description {
    font-size: 45px;
    font-family: "Irish Grover", system-ui;
}

/* div ke andar div */
.container2 {
    height: 900px;
    background-color: azure;
    font-family: "Irish Grover", system-ui;

}

.abcd {
    height: 450px;
    width: 300px;
    background-color: bisque;
    float: left;
    margin-left: 70px;
    margin-top: 70px;
    padding-top: 30px;
    padding-left: 20px;
}

h3 {                                                                                                                                                                                                                                                                                                                
    text-align: center;

}

.read {
    background-color: rgb(255, 122, 33);
    color: rgb(0, 0, 0);
    margin-left: 95px;
    margin-top: 30px;
    cursor: pointer;
    border-radius: 5px;
}

.p {
    text-align: center;

}

.read:hover {
    color: rgb(236, 34, 34);
    background-color: rgb(213, 249, 255);
}

.abcd:hover {
    box-shadow: 10px 10px 15px #9acce5;
}

/* travel */
body {
    font-family: Arial, sans-serif;
}

h2 {
    color: #eab0d6;
    justify-content: center;
    padding: 30px;
    margin: 40px;
    font-size: px;
}

.p1 {
    color: #3a3838;


}

.img-container {
    width: 50%;
    float: left;
    margin-right: 3%;
    font-size: medium;
}

.img-container img {
    width: 100%;
    height: 550px;
    padding: 20px;
}

.link-container {
    width: 47%;
    float: left;
}

.read {
    font-size: 20px;

}

.social-icons {
    float: right;
    font-size: 50px;

}

.social-icons img {
    float: inline-end;
    padding: 10px;
    margin: 30px;


}